.trapani__experience {
  display: flex;
  flex-direction: column;
  background: var(--color-bg)
}

.trapani__experience-heading {
  width: 100%;
  text-align: center;

  margin-bottom: 0.5rem;
}

.trapani__experience-heading h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 1rem;
  letter-spacing: -0.04em;
}

.trapani__experience-heading p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.04em;
}

.trapani__experience-container {
  display: flex;
  flex-direction: row;
}

.trapani__experience-container_groupB {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 5rem;
}

@media screen and (max-width:990px) {
  .trapani__experience-container {
    flex-direction: column;
  }
  .trapani__experience-container_groupB .trapani__experience-container_projects-image {
    height: 60%;
  }
}

@media screen and (max-width:700px) {
  .trapani__experience-heading {
    margin-bottom: 1rem;
  }
  .trapani__experience-heading h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .trapani__experience-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }
}