.trapani__techstack-container_skills {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.trapani__techstack-container_skills-image {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.trapani__techstack-container_skills-image img {
  height:10rem;
}

.trapani__techstack-container_skills-header {
  text-align: center;
}

.trapani__techstack-container_skills-header h3 {
  font-family: var(--font-family);
  color: var(--color-text);
  margin-top: 1rem;
}