.trapani__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.trapani__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.trapani__navbar-links-logo {
  margin-right: 2rem;
}

.trapani__navbar-links_logo img {
  width: 75px;
  height: 75px;
}

.trapani__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.trapani__navbar-links_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.trapani__navbar-links_icons svg {
  margin: 0 0.5rem 0 1rem;
}

.trapani__navbar-links_container p,
.trapani__navbar-menu_container p  {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 3rem;
  cursor: pointer;
}

.trapani__navbar-menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

.trapani__navbar-menu svg {
  cursor: pointer;
}

.trapani__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.trapani__navbar-menu_container p {
  margin: 1rem 0;
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

 @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}


@media screen and (max-width: 1050px) {
  .trapani__navbar-links_container {
    display: none;
  }

  .trapani__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .trapani__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .trapani__navbar {
    padding: 2rem;
  }

  .trapani_navbar-menu_container {
    top: 20px;
  }
}