@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --font-family: 'Montserrat';

  --color-bg: rgba(0, 19, 40, 1) 0%;
  --color-header: #b4dfe5;
  --color-experience: #fbe8a6;
  --color-footer: rgba(0, 19, 40, 1) 0%;  
  --color-text: #fff;
}