@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --font-family: 'Montserrat';

  --color-bg: rgba(0, 19, 40, 1) 0%;
  --color-bg-experience: #171c33;
  --color-header: #b4dfe5;
  --color-experience: #1f253d 0%;
  --color-footer: rgba(0, 19, 40, 1) 0%;
  --color-button: #b4dfe5;
  --color-button-hover: #171c33;
  --color-text: #fff;
}