.trapani__footer {
  background: rgba(0,11,22,1);
  font-family: var(--font-family);
  color: white;
  display: flex;
  flex-direction: column;
}

.trapani__footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}